/* body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  background-color: blue;

} */

.intro-header {
	color: #f8f8f8;
	text-align: center;
}

.container{
margin-top:150px;
background-color:#fff;
width:100%;
position:absolute;
height:220px;
}
.custom-tab-content{
color:#fff;
font-family: 'Open Sans', sans-serif;
}

input-group > .form-control:not(:first-child){
    border-radius: 17px;
}

h1, p{
    color: black;
}